# This workflow will build a Java project with Maven
# This runs only on PR
 
name: SonarCloud  QA

on:
  push:
    branches:
      - master
 
jobs:
  build:
    strategy:
      matrix:
        os: ['ubuntu-latest']
    runs-on: ${{ matrix.os }}
    permissions:
      checks: write
      pull-requests: write
      statuses: read
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 11
    - uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-v2-${{ hashFiles('**/pom.xml') }}    
        restore-keys: |
          ${{ runner.os }}-maven-v2-
    - name: Build with Maven
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}    
      run: mvn -B verify --file pom.xml -B verify sonar:sonar -Dsonar.projectKey=skjolber_3d-bin-container-packing -Dsonar.organization=skjolber-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN

